# Final dataset quality check

## Select the version

In [8]:
criteria_version = 2023

### Step 1. Load the data

In [9]:
import pandas as pd
# Step 0: Get the file path
path = f'../../data/final/final_data_{criteria_version}_with_index.csv'

# Step 1: Load the final dataset
final_df = pd.read_csv(path)

In [10]:
final_df.head()

,Crosswalk2023_CBSA Code,Crosswalk2023_CBSA Title,Crosswalk2023_State Name,NRI_AVLN_EALPE,NRI_CFLD_EALPE,NRI_CWAV_EALPE,NRI_ERQK_EALPE,NRI_HAIL_EALPE,NRI_HWAV_EALPE,NRI_HRCN_EALPE,...,Unemployment_Rate_2015,Unemployment_Rate_2016,Unemployment_Rate_2017,Unemployment_Rate_2018,Unemployment_Rate_2019,Unemployment_Rate_2020,Unemployment_Rate_2021,Unemployment_Rate_2022,Unemployment_Rate_2023,Unemployment_Rate_2024
0,10180,"Abilene, TX",Texas,0.00000,0.000000,485441.029265,1.990667e+04,483001.071482,1.375110e+06,2.751964e+03,...,3.879999,3.922610,3.699524,3.319797,2.993762,5.547505,4.524517,3.465130,3.475004,3.453718
1,10380,"Aguadilla, PR",Puerto Rico,0.00000,1170.838964,0.000000,2.658766e+07,3692.194710,0.000000e+00,5.023007e+06,...,14.898062,14.647494,13.909433,11.533757,10.233626,NaN,8.894395,7.429044,7.345076,7.013001
2,10420,"Akron, OH",Ohio,0.00000,0.000000,283878.596332,1.674568e+05,118503.301890,4.250440e+05,9.718143e+03,...,5.010237,5.074836,4.979921,4.553170,4.221920,7.948233,5.327807,3.936039,3.733755,4.422811
3,10500,"Albany, GA",Georgia,0.00000,0.000000,0.000000,1.601961e+05,88644.910173,4.045832e+05,2.234962e+05,...,7.109153,6.378150,5.586441,4.925708,4.418882,7.360307,5.286233,3.965588,3.874854,4.153575
4,10540,"Albany, OR",Oregon,36919.52184,0.000000,1485.855905,1.342393e+07,28589.341968,2.023923e+04,0.000000e+00,...,6.551074,5.629640,4.673749,4.579362,4.277329,7.720513,5.562171,4.362312,4.090657,4.624895

### Step 2. Basic information

In [11]:
# Step 2: Basic Info
print("\n Dataset shape:\n", final_df.shape)
print("\n Columns:\n", final_df.columns.tolist())
print("\n Data Types:\n", final_df.dtypes)

 Dataset shape:
 (393, 181)

 Columns:
 ['Crosswalk2023_CBSA Code', 'Crosswalk2023_CBSA Title', 'Crosswalk2023_State Name', 'NRI_AVLN_EALPE', 'NRI_CFLD_EALPE', 'NRI_CWAV_EALPE', 'NRI_ERQK_EALPE', 'NRI_HAIL_EALPE', 'NRI_HWAV_EALPE', 'NRI_HRCN_EALPE', 'NRI_ISTM_EALPE', 'NRI_LNDS_EALPE', 'NRI_LTNG_EALPE', 'NRI_RFLD_EALPE', 'NRI_SWND_EALPE', 'NRI_TRND_EALPE', 'NRI_TSUN_EALPE', 'NRI_VLCN_EALPE', 'NRI_WFIR_EALPE', 'NRI_WNTW_EALPE', 'NRI_AVLN_EALB', 'NRI_CFLD_EALB', 'NRI_CWAV_EALB', 'NRI_ERQK_EALB', 'NRI_HAIL_EALB', 'NRI_HWAV_EALB', 'NRI_HRCN_EALB', 'NRI_ISTM_EALB', 'NRI_LNDS_EALB', 'NRI_LTNG_EALB', 'NRI_RFLD_EALB', 'NRI_SWND_EALB', 'NRI_TRND_EALB', 'NRI_TSUN_EALB', 'NRI_VLCN_EALB', 'NRI_WFIR_EALB', 'NRI_WNTW_EALB', 'NRI_AVLN_EXPPE', 'NRI_CFLD_EXPPE', 'NRI_CWAV_EXPPE', 'NRI_ERQK_EXPPE', 'NRI_HAIL_EXPPE', 'NRI_HWAV_EXPPE', 'NRI_HRCN_EXPPE', 'NRI_ISTM_EXPPE', 'NRI_LNDS_EXPPE', 'NRI_LTNG_EXPPE', 'NRI_RFLD_EXPPE', 'NRI_SWND_EXPPE', 'NRI_TRND_EXPPE', 'NRI_TSUN_EXPPE', 'NRI_VLCN_EXPPE', 'NRI_WFIR_EXPPE', 'NRI_WNTW_EXPPE', 'NRI_AVLN_EXPB', 'NRI_CFLD_EXPB', 'NRI_CWAV_EXPB', 'NRI_ERQK_EXPB', 'NRI_HAIL_EXPB', 'NRI_HWAV_EXPB', 'NRI_HRCN_EXPB', 'NRI_ISTM_EXPB', 'NRI_LNDS_EXPB', 'NRI_LTNG_EXPB', 'NRI_RFLD_EXPB', 'NRI_SWND_EXPB', 'NRI_TRND_EXPB', 'NRI_TSUN_EXPB', 'NRI_VLCN_EXPB', 'NRI_WFIR_EXPB', 'NRI_WNTW_EXPB', 'NRI_BUILDVALUE', 'NRI_POPULATION', 'NRI_AREA', 'Migration16to20_A_Inflow_Estimate', 'Migration16to20_A_Outflow_Estimate', 'Migration16to20_A_NetMigration_Estimate', 'Migration16to20_A_GrossMigration_Estimate', 'Migration16to20_A_Inflow_MOE', 'Migration16to20_A_Outflow_MOE', 'Migration16to20_A_NetMigration_MOE', 'Migration16to20_A_GrossMigration_MOE', 'HousingPI25_Metro Area', 'HousingPI25_GEOID.1', 'HousingPI25_1980', 'HousingPI25_1981', 'HousingPI25_1982', 'HousingPI25_1983', 'HousingPI25_1984', 'HousingPI25_1985', 'HousingPI25_1986', 'HousingPI25_1987', 'HousingPI25_1988', 'HousingPI25_1989', 'HousingPI25_1990', 'HousingPI25_1991', 'HousingPI25_1992', 'HousingPI25_1993', 'HousingPI25_1994', 'HousingPI25_1995', 'HousingPI25_1996', 'HousingPI25_1997', 'HousingPI25_1998', 'HousingPI25_1999', 'HousingPI25_2000', 'HousingPI25_2001', 'HousingPI25_2002', 'HousingPI25_2003', 'HousingPI25_2004', 'HousingPI25_2005', 'HousingPI25_2006', 'HousingPI25_2007', 'HousingPI25_2008', 'HousingPI25_2009', 'HousingPI25_2010', 'HousingPI25_2011', 'HousingPI25_2012', 'HousingPI25_2013', 'HousingPI25_2014', 'HousingPI25_2015', 'HousingPI25_2016', 'HousingPI25_2017', 'HousingPI25_2018', 'HousingPI25_2019', 'HousingPI25_2020', 'HousingPI25_2021', 'HousingPI25_2022', 'HousingPI25_2023', 'HousingPI25_2024', 'Labor_Force_2015', 'Labor_Force_2016', 'Labor_Force_2017', 'Labor_Force_2018', 'Labor_Force_2019', 'Labor_Force_2020', 'Labor_Force_2021', 'Labor_Force_2022', 'Labor_Force_2023', 'Labor_Force_2024', 'Employed_2015', 'Employed_2016', 'Employed_2017', 'Employed_2018', 'Employed_2019', 'Employed_2020', 'Employed_2021', 'Employed_2022', 'Employed_2023', 'Employed_2024', 'Unemployed_2015', 'Unemployed_2016', 'Unemployed_2017', 'Unemployed_2018', 'Unemployed_2019', 'Unemployed_2020', 'Unemployed_2021', 'Unemployed_2022', 'Unemployed_2023', 'Unemployed_2024', 'total_population_equiv', 'exposure_pop_total', 'pct_pop_exposed', 'loss_pop_total', 'pct_pop_loss', 'building_equiv', 'exposure_bldg_total', 'pct_bldg_exposed', 'loss_bldg_total', 'pct_bldg_loss', 'loss_per_capita_pe', 'loss_per_capita_bldg', 'Unemployment_Rate_2015', 'Unemployment_Rate_2016', 'Unemployment_Rate_2017', 'Unemployment_Rate_2018', 'Unemployment_Rate_2019', 'Unemployment_Rate_2020', 'Unemployment_Rate_2021', 'Unemployment_Rate_2022', 'Unemployment_Rate_2023', 'Unemployment_Rate_2024']

 Data Types:
 Crosswalk2023_CBSA Code       int64
Crosswalk2023_CBSA Title     object
Crosswalk2023_State Name     object
NRI_AVLN_EALPE              float64
NRI_CFLD_EALPE              float64
                             ...
Unemployment_Rate_2020      float64
Unemployment_Rate_2021      float64
Unemployment_Rate_2022      float64
Unemployment_Rate_2023      float64
Unemployment_Rate_2024      float64
Length: 181, dtype: object

### Step 3. Uniqueness in MSA

In [12]:
# Step 3: Key Check
key_col = f'Crosswalk{criteria_version}_CBSA Code'
print(f"\n Is '{key_col}' unique?:", final_df[key_col].is_unique)

 Is 'Crosswalk2023_CBSA Code' unique?: True

### Step 4. Missing value

In [13]:
# Step 4: Missing Value Check
missing_count = final_df.isnull().sum()
missing_ratio = final_df.isnull().mean()

missing_summary = pd.DataFrame({
    'Missing Count': missing_count,
    'Missing Ratio (%)': missing_ratio*100
}).sort_values(by='Missing Ratio (%)', ascending=False)

print("\nMissing Value Summary per Column:\n", missing_summary[missing_summary['Missing Count'] > 0])

Missing Value Summary per Column:
                                            Missing Count  Missing Ratio (%)
Migration16to20_A_NetMigration_MOE                    16           4.071247
Migration16to20_A_Outflow_MOE                         16           4.071247
Migration16to20_A_GrossMigration_MOE                  16           4.071247
Migration16to20_A_GrossMigration_Estimate             16           4.071247
Migration16to20_A_NetMigration_Estimate               16           4.071247
...                                                  ...                ...
pct_pop_exposed                                        5           1.272265
pct_pop_loss                                           5           1.272265
pct_bldg_exposed                                       5           1.272265
pct_bldg_loss                                          5           1.272265
loss_per_capita_pe                                     5           1.272265

[65 rows x 2 columns]