# Data Source 1 - Geography Reference

## MSA_GEOGRAPHY_REF file (2022 version)

## Raw data source:

https://www.census.gov/programs-surveys/cbp/technical-documentation/reference/metro-area-geography-reference.html

In [1]:
import sys
sys.path.append('../../scripts')  
import merging_utils
import yaml
import pandas as pd

with open("../../config/preprocessing.yaml", "r") as f:
    preprocessing_config = yaml.safe_load(f)

version = 2022
prefix = preprocessing_config['geo_ref'][version]['prefix']

/opt/anaconda3/lib/python3.9/site-packages/pandas/core/computation/expressions.py:21: UserWarning: Pandas requires version '2.8.4' or newer of 'numexpr' (version '2.7.3' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED
/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arrays/masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.2' currently installed).
  from pandas.core import (

In [2]:
url = "https://www2.census.gov/programs-surveys/cbp/technical-documentation/reference/metro-area-geography-reference/msa_county_reference22.txt"

# Load the data
df = pd.read_csv(url, encoding='cp1252', quotechar='"')

In [3]:
df.head(5)

,msa,msa_name,fipstate,fipscty,county_name
0,10100,"Aberdeen, SD Micro Area",46,13,"Brown County, South Dakota"
1,10100,"Aberdeen, SD Micro Area",46,45,"Edmunds County, South Dakota"
2,10140,"Aberdeen, WA Micro Area",53,27,"Grays Harbor County, Washington"
3,10180,"Abilene, TX Metro Area",48,59,"Callahan County, Texas"
4,10180,"Abilene, TX Metro Area",48,253,"Jones County, Texas"

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1845 entries, 0 to 1844
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   msa          1845 non-null   int64
 1   msa_name     1845 non-null   object
 2   fipstate     1845 non-null   int64
 3   fipscty      1845 non-null   int64
 4   county_name  1845 non-null   object
dtypes: int64(3), object(2)
memory usage: 72.2+ KB

In [5]:
df.describe()

                msa     fipstate      fipscty
count   1845.000000  1845.000000  1845.000000
mean   29581.209214    30.233604   102.755556
std    11453.452098    15.246178   116.251128
min    10100.000000     1.000000     1.000000
25%    19100.000000    18.000000    33.000000
50%    29620.000000    29.000000    75.000000
75%    39500.000000    45.000000   129.000000
max    49820.000000    56.000000   999.000000

In [6]:
df.to_csv('../../data/raw/msa_county_reference22.csv',index=False)

In [7]:
print('Before adding prefixes: ' , df.columns)
df = merging_utils.add_prefix_all(df, prefix=prefix)
print('After adding prefixes: ' , df.columns)

Before adding prefixes:  Index(['msa', 'msa_name', 'fipstate', 'fipscty', 'county_name'], dtype='object')
After adding prefixes:  Index(['GeoRef_msa', 'GeoRef_msa_name', 'GeoRef_fipstate', 'GeoRef_fipscty',
       'GeoRef_county_name'],
      dtype='object')

In [8]:
df

,GeoRef_msa,GeoRef_msa_name,GeoRef_fipstate,GeoRef_fipscty,GeoRef_county_name
0,10100,"Aberdeen, SD Micro Area",46,13,"Brown County, South Dakota"
1,10100,"Aberdeen, SD Micro Area",46,45,"Edmunds County, South Dakota"
2,10140,"Aberdeen, WA Micro Area",53,27,"Grays Harbor County, Washington"
3,10180,"Abilene, TX Metro Area",48,59,"Callahan County, Texas"
4,10180,"Abilene, TX Metro Area",48,253,"Jones County, Texas"
...,...,...,...,...,...
1840,49700,"Yuba City, CA Metro Area",6,101,"Sutter County, California"
1841,49700,"Yuba City, CA Metro Area",6,115,"Yuba County, California"
1842,49740,"Yuma, AZ Metro Area",4,27,"Yuma County, Arizona"
1843,49780,"Zanesville, OH Micro Area",39,119,"Muskingum County, Ohio"
1844,49820,"Zapata, TX Micro Area",48,505,"Zapata County, Texas"

In [9]:
df.to_csv('../../data/interim/data1.csv',index=False)