# Data Source 6 - Unemployment Rate per State

## Raw Data Source:
https://www.bls.gov/lau/tables.htm#cntyaa

- Year: 2015-2024

In [1]:
import pandas as pd 
import os
path = '../../data/raw/Unemployed/'

/opt/anaconda3/lib/python3.9/site-packages/pandas/core/computation/expressions.py:21: UserWarning: Pandas requires version '2.8.4' or newer of 'numexpr' (version '2.7.3' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED
/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arrays/masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.2' currently installed).
  from pandas.core import (

In [2]:
# import file lists
files = [f for f in os.listdir(path) if f.endswith('.xlsx')]
sorted(files)

['laucnty15.xlsx',
 'laucnty16.xlsx',
 'laucnty17.xlsx',
 'laucnty18.xlsx',
 'laucnty19.xlsx',
 'laucnty20.xlsx',
 'laucnty21.xlsx',
 'laucnty22.xlsx',
 'laucnty23.xlsx',
 'laucnty24.xlsx']

In [3]:
filename0 = os.path.join(path,sorted(files)[0])
filename1 = os.path.join(path,sorted(files)[1])
filename2 = os.path.join(path,sorted(files)[2])
filename3 = os.path.join(path,sorted(files)[3])
filename4 = os.path.join(path,sorted(files)[4])
filename5 = os.path.join(path,sorted(files)[5])
filename6 = os.path.join(path,sorted(files)[6])
filename7 = os.path.join(path,sorted(files)[7])
filename8 = os.path.join(path,sorted(files)[8])
filename9 = os.path.join(path,sorted(files)[9])

In [4]:
def clean_df(filename):
    df = pd.read_excel(filename, header=1)
    df = df.iloc[:-3]

    return df

## 2015  Unemployment

In [5]:
df0 = pd.read_excel(filename0)
df0

,"Labor Force Data by County, 2015 Annual Averages",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,LAUS Code,State FIPS Code,County FIPS Code,County Name/State Abbreviation,Year,Labor Force,Employed,Unemployed,Unemployment Rate (%)
1,CN0100100000000,01,001,"Autauga County, AL",2015,25783,24441,1342,5.2
2,CN0100300000000,01,003,"Baldwin County, AL",2015,88323,83424,4899,5.5
3,CN0100500000000,01,005,"Barbour County, AL",2015,8670,7899,771,8.9
4,CN0100700000000,01,007,"Bibb County, AL",2015,8633,8061,572,6.6
...,...,...,...,...,...,...,...,...,...
3219,CN7215100000000,72,151,"Yabucoa Municipio, PR",2015,9198,7593,1605,17.4
3220,CN7215300000000,72,153,"Yauco Municipio, PR",2015,10748,8717,2031,18.9
3221,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3222,"SOURCE: BLS, LAUS",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3223,"April 18, 2025",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
df0 = clean_df(filename0)
df0

,LAUS Code,State FIPS Code,County FIPS Code,County Name/State Abbreviation,Year,Labor Force,Employed,Unemployed,Unemployment Rate (%)
0,CN0100100000000,1.0,1.0,"Autauga County, AL",2015.0,25783.0,24441.0,1342.0,5.2
1,CN0100300000000,1.0,3.0,"Baldwin County, AL",2015.0,88323.0,83424.0,4899.0,5.5
2,CN0100500000000,1.0,5.0,"Barbour County, AL",2015.0,8670.0,7899.0,771.0,8.9
3,CN0100700000000,1.0,7.0,"Bibb County, AL",2015.0,8633.0,8061.0,572.0,6.6
4,CN0100900000000,1.0,9.0,"Blount County, AL",2015.0,24647.0,23313.0,1334.0,5.4
...,...,...,...,...,...,...,...,...,...
3215,CN7214500000000,72.0,145.0,"Vega Baja Municipio, PR",2015.0,13820.0,11921.0,1899.0,13.7
3216,CN7214700000000,72.0,147.0,"Vieques Municipio, PR",2015.0,3194.0,2832.0,362.0,11.3
3217,CN7214900000000,72.0,149.0,"Villalba Municipio, PR",2015.0,7802.0,6262.0,1540.0,19.7
3218,CN7215100000000,72.0,151.0,"Yabucoa Municipio, PR",2015.0,9198.0,7593.0,1605.0,17.4
3219,CN7215300000000,72.0,153.0,"Yauco Municipio, PR",2015.0,10748.0,8717.0,2031.0,18.9

## 2016 Unemployment

In [7]:
df1 = pd.read_excel(filename1)
df1

,"Labor Force Data by County, 2016 Annual Averages",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,LAUS Code,State FIPS Code,County FIPS Code,County Name/State Abbreviation,Year,Labor Force,Employed,Unemployed,Unemployment Rate (%)
1,CN0100100000000,01,001,"Autauga County, AL",2016,26204,24872,1332,5.1
2,CN0100300000000,01,003,"Baldwin County, AL",2016,98538,93749,4789,4.9
3,CN0100500000000,01,005,"Barbour County, AL",2016,9351,8650,701,7.5
4,CN0100700000000,01,007,"Bibb County, AL",2016,8752,8201,551,6.3
...,...,...,...,...,...,...,...,...,...
3219,CN7215100000000,72,151,"Yabucoa Municipio, PR",2016,9519,8005,1514,15.9
3220,CN7215300000000,72,153,"Yauco Municipio, PR",2016,11977,9974,2003,16.7
3221,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3222,"SOURCE: BLS, LAUS",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3223,"April 18, 2025",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
df1 = clean_df(filename1)
df1

,LAUS Code,State FIPS Code,County FIPS Code,County Name/State Abbreviation,Year,Labor Force,Employed,Unemployed,Unemployment Rate (%)
0,CN0100100000000,1.0,1.0,"Autauga County, AL",2016.0,26204.0,24872.0,1332.0,5.1
1,CN0100300000000,1.0,3.0,"Baldwin County, AL",2016.0,98538.0,93749.0,4789.0,4.9
2,CN0100500000000,1.0,5.0,"Barbour County, AL",2016.0,9351.0,8650.0,701.0,7.5
3,CN0100700000000,1.0,7.0,"Bibb County, AL",2016.0,8752.0,8201.0,551.0,6.3
4,CN0100900000000,1.0,9.0,"Blount County, AL",2016.0,25333.0,24013.0,1320.0,5.2
...,...,...,...,...,...,...,...,...,...
3215,CN7214500000000,72.0,145.0,"Vega Baja Municipio, PR",2016.0,16809.0,14879.0,1930.0,11.5
3216,CN7214700000000,72.0,147.0,"Vieques Municipio, PR",2016.0,3101.0,2759.0,342.0,11.0
3217,CN7214900000000,72.0,149.0,"Villalba Municipio, PR",2016.0,7443.0,5867.0,1576.0,21.2
3218,CN7215100000000,72.0,151.0,"Yabucoa Municipio, PR",2016.0,9519.0,8005.0,1514.0,15.9
3219,CN7215300000000,72.0,153.0,"Yauco Municipio, PR",2016.0,11977.0,9974.0,2003.0,16.7

## 2017 Unemployment

In [9]:
df2 = pd.read_excel(filename2)
df2

,"Labor Force Data by County, 2017 Annual Averages",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,LAUS Code,State FIPS Code,County FIPS Code,County Name/State Abbreviation,Year,Labor Force,Employed,Unemployed,Unemployment Rate (%)
1,CN0100100000000,01,001,"Autauga County, AL",2017,26364,25307,1057,4
2,CN0100300000000,01,003,"Baldwin County, AL",2017,100682,96831,3851,3.8
3,CN0100500000000,01,005,"Barbour County, AL",2017,9327,8821,506,5.4
4,CN0100700000000,01,007,"Bibb County, AL",2017,8670,8286,384,4.4
...,...,...,...,...,...,...,...,...,...
3219,CN7215100000000,72,151,"Yabucoa Municipio, PR",2017,9343,7879,1464,15.7
3220,CN7215300000000,72,153,"Yauco Municipio, PR",2017,11358,9607,1751,15.4
3221,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3222,"SOURCE: BLS, LAUS",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3223,"April 18, 2025",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
df2 = clean_df(filename2)
df2

,LAUS Code,State FIPS Code,County FIPS Code,County Name/State Abbreviation,Year,Labor Force,Employed,Unemployed,Unemployment Rate (%)
0,CN0100100000000,1.0,1.0,"Autauga County, AL",2017.0,26364.0,25307.0,1057.0,4.0
1,CN0100300000000,1.0,3.0,"Baldwin County, AL",2017.0,100682.0,96831.0,3851.0,3.8
2,CN0100500000000,1.0,5.0,"Barbour County, AL",2017.0,9327.0,8821.0,506.0,5.4
3,CN0100700000000,1.0,7.0,"Bibb County, AL",2017.0,8670.0,8286.0,384.0,4.4
4,CN0100900000000,1.0,9.0,"Blount County, AL",2017.0,25554.0,24527.0,1027.0,4.0
...,...,...,...,...,...,...,...,...,...
3215,CN7214500000000,72.0,145.0,"Vega Baja Municipio, PR",2017.0,16551.0,14858.0,1693.0,10.2
3216,CN7214700000000,72.0,147.0,"Vieques Municipio, PR",2017.0,2952.0,2516.0,436.0,14.8
3217,CN7214900000000,72.0,149.0,"Villalba Municipio, PR",2017.0,7172.0,5700.0,1472.0,20.5
3218,CN7215100000000,72.0,151.0,"Yabucoa Municipio, PR",2017.0,9343.0,7879.0,1464.0,15.7
3219,CN7215300000000,72.0,153.0,"Yauco Municipio, PR",2017.0,11358.0,9607.0,1751.0,15.4

## 2018 Unemployment

In [11]:
df3 = pd.read_excel(filename3)
df3

,"Labor Force Data by County, 2018 Annual Averages",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,LAUS Code,State FIPS Code,County FIPS Code,County Name/State Abbreviation,Year,Labor Force,Employed,Unemployed,Unemployment Rate (%)
1,CN0100100000000,01,001,"Autauga County, AL",2018,26498,25535,963,3.6
2,CN0100300000000,01,003,"Baldwin County, AL",2018,103587,100126,3461,3.3
3,CN0100500000000,01,005,"Barbour County, AL",2018,9387,8947,440,4.7
4,CN0100700000000,01,007,"Bibb County, AL",2018,8710,8369,341,3.9
...,...,...,...,...,...,...,...,...,...
3219,CN7215100000000,72,151,"Yabucoa Municipio, PR",2018,9079,7845,1234,13.6
3220,CN7215300000000,72,153,"Yauco Municipio, PR",2018,10933,9501,1432,13.1
3221,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3222,"SOURCE: BLS, LAUS",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3223,"April 18, 2025",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
df3 = clean_df(filename3)
df3

,LAUS Code,State FIPS Code,County FIPS Code,County Name/State Abbreviation,Year,Labor Force,Employed,Unemployed,Unemployment Rate (%)
0,CN0100100000000,1.0,1.0,"Autauga County, AL",2018.0,26498.0,25535.0,963.0,3.6
1,CN0100300000000,1.0,3.0,"Baldwin County, AL",2018.0,103587.0,100126.0,3461.0,3.3
2,CN0100500000000,1.0,5.0,"Barbour County, AL",2018.0,9387.0,8947.0,440.0,4.7
3,CN0100700000000,1.0,7.0,"Bibb County, AL",2018.0,8710.0,8369.0,341.0,3.9
4,CN0100900000000,1.0,9.0,"Blount County, AL",2018.0,25916.0,25033.0,883.0,3.4
...,...,...,...,...,...,...,...,...,...
3215,CN7214500000000,72.0,145.0,"Vega Baja Municipio, PR",2018.0,16413.0,15016.0,1397.0,8.5
3216,CN7214700000000,72.0,147.0,"Vieques Municipio, PR",2018.0,2751.0,2304.0,447.0,16.2
3217,CN7214900000000,72.0,149.0,"Villalba Municipio, PR",2018.0,6903.0,5737.0,1166.0,16.9
3218,CN7215100000000,72.0,151.0,"Yabucoa Municipio, PR",2018.0,9079.0,7845.0,1234.0,13.6
3219,CN7215300000000,72.0,153.0,"Yauco Municipio, PR",2018.0,10933.0,9501.0,1432.0,13.1

## 2019 Unemployment

In [13]:
df4 = pd.read_excel(filename4)
df4

,"Labor Force Data by County, 2019 Annual Averages",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,LAUS Code,State FIPS Code,County FIPS Code,County Name/State Abbreviation,Year,Labor Force,Employed,Unemployed,Unemployment Rate (%)
1,CN0100100000000,01,001,"Autauga County, AL",2019,26675,25897,778,2.9
2,CN0100300000000,01,003,"Baldwin County, AL",2019,106320,103448,2872,2.7
3,CN0100500000000,01,005,"Barbour County, AL",2019,9525,9174,351,3.7
4,CN0100700000000,01,007,"Bibb County, AL",2019,8779,8496,283,3.2
...,...,...,...,...,...,...,...,...,...
3219,CN7215100000000,72,151,"Yabucoa Municipio, PR",2019,9036,7908,1128,12.5
3220,CN7215300000000,72,153,"Yauco Municipio, PR",2019,10951,9510,1441,13.2
3221,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3222,"SOURCE: BLS, LAUS",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3223,"April 18, 2025",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
df4 = clean_df(filename4)
df4

,LAUS Code,State FIPS Code,County FIPS Code,County Name/State Abbreviation,Year,Labor Force,Employed,Unemployed,Unemployment Rate (%)
0,CN0100100000000,1.0,1.0,"Autauga County, AL",2019.0,26675.0,25897.0,778.0,2.9
1,CN0100300000000,1.0,3.0,"Baldwin County, AL",2019.0,106320.0,103448.0,2872.0,2.7
2,CN0100500000000,1.0,5.0,"Barbour County, AL",2019.0,9525.0,9174.0,351.0,3.7
3,CN0100700000000,1.0,7.0,"Bibb County, AL",2019.0,8779.0,8496.0,283.0,3.2
4,CN0100900000000,1.0,9.0,"Blount County, AL",2019.0,26214.0,25490.0,724.0,2.8
...,...,...,...,...,...,...,...,...,...
3215,CN7214500000000,72.0,145.0,"Vega Baja Municipio, PR",2019.0,16595.0,15304.0,1291.0,7.8
3216,CN7214700000000,72.0,147.0,"Vieques Municipio, PR",2019.0,2580.0,2400.0,180.0,7.0
3217,CN7214900000000,72.0,149.0,"Villalba Municipio, PR",2019.0,7007.0,5817.0,1190.0,17.0
3218,CN7215100000000,72.0,151.0,"Yabucoa Municipio, PR",2019.0,9036.0,7908.0,1128.0,12.5
3219,CN7215300000000,72.0,153.0,"Yauco Municipio, PR",2019.0,10951.0,9510.0,1441.0,13.2

## 2020 Unemployment

In [15]:
df5 = pd.read_excel(filename5)
df5

,"Labor Force Data by County, 2020 Annual Averages",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,LAUS Code,State FIPS Code,County FIPS Code,County Name/State Abbreviation,Year,Labor Force,Employed,Unemployed,Unemployment Rate (%)
1,CN0100100000000,01,001,"Autauga County, AL",2020,26485,25085,1400,5.3
2,CN0100300000000,01,003,"Baldwin County, AL",2020,105948,99918,6030,5.7
3,CN0100500000000,01,005,"Barbour County, AL",2020,9529,8864,665,7
4,CN0100700000000,01,007,"Bibb County, AL",2020,8688,8060,628,7.2
...,...,...,...,...,...,...,...,...,...
3220,CN7215100000000,72,151,"Yabucoa Municipio, PR",2020,N.A.,N.A.,N.A.,N.A.
3221,CN7215300000000,72,153,"Yauco Municipio, PR",2020,N.A.,N.A.,N.A.,N.A.
3222,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3223,"SOURCE: BLS, LAUS",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3224,"April 18, 2025",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
df5 = clean_df(filename5)
df5

,LAUS Code,State FIPS Code,County FIPS Code,County Name/State Abbreviation,Year,Labor Force,Employed,Unemployed,Unemployment Rate (%)
0,CN0100100000000,1.0,1.0,"Autauga County, AL",2020.0,26485,25085,1400,5.3
1,CN0100300000000,1.0,3.0,"Baldwin County, AL",2020.0,105948,99918,6030,5.7
2,CN0100500000000,1.0,5.0,"Barbour County, AL",2020.0,9529,8864,665,7
3,CN0100700000000,1.0,7.0,"Bibb County, AL",2020.0,8688,8060,628,7.2
4,CN0100900000000,1.0,9.0,"Blount County, AL",2020.0,25644,24526,1118,4.4
...,...,...,...,...,...,...,...,...,...
3216,CN7214500000000,72.0,145.0,"Vega Baja Municipio, PR",2020.0,N.A.,N.A.,N.A.,N.A.
3217,CN7214700000000,72.0,147.0,"Vieques Municipio, PR",2020.0,N.A.,N.A.,N.A.,N.A.
3218,CN7214900000000,72.0,149.0,"Villalba Municipio, PR",2020.0,N.A.,N.A.,N.A.,N.A.
3219,CN7215100000000,72.0,151.0,"Yabucoa Municipio, PR",2020.0,N.A.,N.A.,N.A.,N.A.
3220,CN7215300000000,72.0,153.0,"Yauco Municipio, PR",2020.0,N.A.,N.A.,N.A.,N.A.

## 2021 Unemployment

In [17]:
df6 = pd.read_excel(filename6)
df6

,"Labor Force Data by County, 2021 Annual Averages",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,LAUS Code,State FIPS Code,County FIPS Code,County Name/State Abbreviation,Year,Labor Force,Employed,Unemployed,Unemployment Rate (%)
1,CN0100100000000,01,001,"Autauga County, AL",2021,26682,25949,733,2.7
2,CN0100300000000,01,003,"Baldwin County, AL",2021,107386,104485,2901,2.7
3,CN0100500000000,01,005,"Barbour County, AL",2021,9048,8591,457,5.1
4,CN0100700000000,01,007,"Bibb County, AL",2021,8636,8345,291,3.4
...,...,...,...,...,...,...,...,...,...
3220,CN7215100000000,72,151,"Yabucoa Municipio, PR",2021,9241,8318,923,10
3221,CN7215300000000,72,153,"Yauco Municipio, PR",2021,11402,10209,1193,10.5
3222,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3223,"SOURCE: BLS, LAUS",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3224,"April 18, 2025",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
df6 = clean_df(filename6)
df6

,LAUS Code,State FIPS Code,County FIPS Code,County Name/State Abbreviation,Year,Labor Force,Employed,Unemployed,Unemployment Rate (%)
0,CN0100100000000,1.0,1.0,"Autauga County, AL",2021.0,26682.0,25949.0,733.0,2.7
1,CN0100300000000,1.0,3.0,"Baldwin County, AL",2021.0,107386.0,104485.0,2901.0,2.7
2,CN0100500000000,1.0,5.0,"Barbour County, AL",2021.0,9048.0,8591.0,457.0,5.1
3,CN0100700000000,1.0,7.0,"Bibb County, AL",2021.0,8636.0,8345.0,291.0,3.4
4,CN0100900000000,1.0,9.0,"Blount County, AL",2021.0,25760.0,25173.0,587.0,2.3
...,...,...,...,...,...,...,...,...,...
3216,CN7214500000000,72.0,145.0,"Vega Baja Municipio, PR",2021.0,17989.0,16547.0,1442.0,8.0
3217,CN7214700000000,72.0,147.0,"Vieques Municipio, PR",2021.0,2900.0,2569.0,331.0,11.4
3218,CN7214900000000,72.0,149.0,"Villalba Municipio, PR",2021.0,7148.0,6240.0,908.0,12.7
3219,CN7215100000000,72.0,151.0,"Yabucoa Municipio, PR",2021.0,9241.0,8318.0,923.0,10.0
3220,CN7215300000000,72.0,153.0,"Yauco Municipio, PR",2021.0,11402.0,10209.0,1193.0,10.5

## 2022 Unemployment

In [19]:
df7 = pd.read_excel(filename7)
df7

,"Labor Force Data by County, 2022 Annual Averages",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,LAUS Code,State FIPS Code,County FIPS Code,County Name/State Abbreviation,Year,Labor Force,Employed,Unemployed,Unemployment Rate (%)
1,CN0100100000000,01,001,"Autauga County, AL",2022,27067,26473,594,2.2
2,CN0100300000000,01,003,"Baldwin County, AL",2022,110609,108220,2389,2.2
3,CN0100500000000,01,005,"Barbour County, AL",2022,8942,8619,323,3.6
4,CN0100700000000,01,007,"Bibb County, AL",2022,8566,8360,206,2.4
...,...,...,...,...,...,...,...,...,...
3220,CN7215100000000,72,151,"Yabucoa Municipio, PR",2022,9288,8521,767,8.3
3221,CN7215300000000,72,153,"Yauco Municipio, PR",2022,11437,10378,1059,9.3
3222,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3223,"SOURCE: BLS, LAUS",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3224,"April 18, 2025",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
df7 = clean_df(filename7)
df7

,LAUS Code,State FIPS Code,County FIPS Code,County Name/State Abbreviation,Year,Labor Force,Employed,Unemployed,Unemployment Rate (%)
0,CN0100100000000,1.0,1.0,"Autauga County, AL",2022.0,27067.0,26473.0,594.0,2.2
1,CN0100300000000,1.0,3.0,"Baldwin County, AL",2022.0,110609.0,108220.0,2389.0,2.2
2,CN0100500000000,1.0,5.0,"Barbour County, AL",2022.0,8942.0,8619.0,323.0,3.6
3,CN0100700000000,1.0,7.0,"Bibb County, AL",2022.0,8566.0,8360.0,206.0,2.4
4,CN0100900000000,1.0,9.0,"Blount County, AL",2022.0,26328.0,25778.0,550.0,2.1
...,...,...,...,...,...,...,...,...,...
3216,CN7214500000000,72.0,145.0,"Vega Baja Municipio, PR",2022.0,18202.0,17132.0,1070.0,5.9
3217,CN7214700000000,72.0,147.0,"Vieques Municipio, PR",2022.0,2820.0,2640.0,180.0,6.4
3218,CN7214900000000,72.0,149.0,"Villalba Municipio, PR",2022.0,7163.0,6360.0,803.0,11.2
3219,CN7215100000000,72.0,151.0,"Yabucoa Municipio, PR",2022.0,9288.0,8521.0,767.0,8.3
3220,CN7215300000000,72.0,153.0,"Yauco Municipio, PR",2022.0,11437.0,10378.0,1059.0,9.3

## 2023 Unemployment

In [21]:
df8 = pd.read_excel(filename8)
df8

,"Labor Force Data by County, 2023 Annual Averages",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,LAUS Code,State FIPS Code,County FIPS Code,County Name/State Abbreviation,Year,Labor Force,Employed,Unemployed,Unemployment Rate (%)
1,CN0100100000000,01,001,"Autauga County, AL",2023,27741,27150,591,2.1
2,CN0100300000000,01,003,"Baldwin County, AL",2023,113078,110639,2439,2.2
3,CN0100500000000,01,005,"Barbour County, AL",2023,8660,8315,345,4
4,CN0100700000000,01,007,"Bibb County, AL",2023,8582,8376,206,2.4
...,...,...,...,...,...,...,...,...,...
3220,CN7215100000000,72,151,"Yabucoa Municipio, PR",2023,9314,8548,766,8.2
3221,CN7215300000000,72,153,"Yauco Municipio, PR",2023,11614,10405,1209,10.4
3222,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3223,"SOURCE: BLS, LAUS",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3224,"April 18, 2025",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
df8 = clean_df(filename8)
df8

,LAUS Code,State FIPS Code,County FIPS Code,County Name/State Abbreviation,Year,Labor Force,Employed,Unemployed,Unemployment Rate (%)
0,CN0100100000000,1.0,1.0,"Autauga County, AL",2023.0,27741.0,27150.0,591.0,2.1
1,CN0100300000000,1.0,3.0,"Baldwin County, AL",2023.0,113078.0,110639.0,2439.0,2.2
2,CN0100500000000,1.0,5.0,"Barbour County, AL",2023.0,8660.0,8315.0,345.0,4.0
3,CN0100700000000,1.0,7.0,"Bibb County, AL",2023.0,8582.0,8376.0,206.0,2.4
4,CN0100900000000,1.0,9.0,"Blount County, AL",2023.0,26501.0,25963.0,538.0,2.0
...,...,...,...,...,...,...,...,...,...
3216,CN7214500000000,72.0,145.0,"Vega Baja Municipio, PR",2023.0,18428.0,17344.0,1084.0,5.9
3217,CN7214700000000,72.0,147.0,"Vieques Municipio, PR",2023.0,2801.0,2689.0,112.0,4.0
3218,CN7214900000000,72.0,149.0,"Villalba Municipio, PR",2023.0,7250.0,6416.0,834.0,11.5
3219,CN7215100000000,72.0,151.0,"Yabucoa Municipio, PR",2023.0,9314.0,8548.0,766.0,8.2
3220,CN7215300000000,72.0,153.0,"Yauco Municipio, PR",2023.0,11614.0,10405.0,1209.0,10.4

## 2024 Unemployment

In [23]:
df9 = pd.read_excel(filename9)
df9

,"Labor Force Data by County, 2024 Annual Averages",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,LAUS Code,State FIPS Code,County FIPS Code,County Name/State Abbreviation,Year,Labor Force,Employed,Unemployed,Unemployment Rate (%)
1,CN0100100000000,01,001,"Autauga County, AL",2024,28467,27702,765,2.7
2,CN0100300000000,01,003,"Baldwin County, AL",2024,116653,113448,3205,2.7
3,CN0100500000000,01,005,"Barbour County, AL",2024,8674,8302,372,4.3
4,CN0100700000000,01,007,"Bibb County, AL",2024,8710,8446,264,3
...,...,...,...,...,...,...,...,...,...
3220,CN7215100000000,72,151,"Yabucoa Municipio, PR",2024,9517,8709,808,8.5
3221,CN7215300000000,72,153,"Yauco Municipio, PR",2024,11723,10557,1166,9.9
3222,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3223,"SOURCE: BLS, LAUS",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3224,"April 18, 2025",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
df9 = clean_df(filename9)
df9

,LAUS Code,State FIPS Code,County FIPS Code,County Name/State Abbreviation,Year,Labor Force,Employed,Unemployed,Unemployment Rate (%)
0,CN0100100000000,1.0,1.0,"Autauga County, AL",2024.0,28467.0,27702.0,765.0,2.7
1,CN0100300000000,1.0,3.0,"Baldwin County, AL",2024.0,116653.0,113448.0,3205.0,2.7
2,CN0100500000000,1.0,5.0,"Barbour County, AL",2024.0,8674.0,8302.0,372.0,4.3
3,CN0100700000000,1.0,7.0,"Bibb County, AL",2024.0,8710.0,8446.0,264.0,3.0
4,CN0100900000000,1.0,9.0,"Blount County, AL",2024.0,26922.0,26204.0,718.0,2.7
...,...,...,...,...,...,...,...,...,...
3216,CN7214500000000,72.0,145.0,"Vega Baja Municipio, PR",2024.0,18521.0,17515.0,1006.0,5.4
3217,CN7214700000000,72.0,147.0,"Vieques Municipio, PR",2024.0,2881.0,2756.0,125.0,4.3
3218,CN7214900000000,72.0,149.0,"Villalba Municipio, PR",2024.0,7273.0,6529.0,744.0,10.2
3219,CN7215100000000,72.0,151.0,"Yabucoa Municipio, PR",2024.0,9517.0,8709.0,808.0,8.5
3220,CN7215300000000,72.0,153.0,"Yauco Municipio, PR",2024.0,11723.0,10557.0,1166.0,9.9

## Check column alignment

In [25]:
# Take df0 as the reference
base_cols = list(df0.columns)

all_equal = True
for i, df in enumerate([df1, df2, df3, df4, df5, df6, df7, df8, df9], start=1):
    # Compare column lists
    if list(df.columns) != base_cols:
        print(f"❌ df{i} has different columns")
        all_equal = False
    else:
        print(f"✅ df{i} columns match with df0")

if all_equal:
    print("🎉 All DataFrames have identical columns.")

✅ df1 columns match with df0
✅ df2 columns match with df0
✅ df3 columns match with df0
✅ df4 columns match with df0
✅ df5 columns match with df0
✅ df6 columns match with df0
✅ df7 columns match with df0
✅ df8 columns match with df0
✅ df9 columns match with df0
🎉 All DataFrames have identical columns.

## Unemployment data preprocess (FIPS Code to CBSA Code)

In [26]:
def add_fips(df):
    """
    Create a 5-digit FIPS code by combining State FIPS Code and County FIPS Code.
    - State FIPS Code: keep as int → str (no zero padding)
    - County FIPS Code: 3-digit zero padding
    """
    df = df.copy()
    
    df["State FIPS Code"] = df["State FIPS Code"].astype(int).astype(str)
    df["County FIPS Code"] = df["County FIPS Code"].astype(int).astype(str).str.zfill(3)
    df["FIPS"] = df["State FIPS Code"] + df["County FIPS Code"]
    
    return df

In [27]:
# Put all DataFrames into a list
dfs = [df0, df1, df2, df3, df4, df5, df6, df7, df8, df9]

# Apply preprocessing function to each
dfs_processed = [add_fips(d) for d in dfs]

# Optionally unpack back into variables
df0, df1, df2, df3, df4, df5, df6, df7, df8, df9 = dfs_processed

In [28]:
df0.head()

,LAUS Code,State FIPS Code,County FIPS Code,County Name/State Abbreviation,Year,Labor Force,Employed,Unemployed,Unemployment Rate (%),FIPS
0,CN0100100000000,1,001,"Autauga County, AL",2015.0,25783.0,24441.0,1342.0,5.2,1001
1,CN0100300000000,1,003,"Baldwin County, AL",2015.0,88323.0,83424.0,4899.0,5.5,1003
2,CN0100500000000,1,005,"Barbour County, AL",2015.0,8670.0,7899.0,771.0,8.9,1005
3,CN0100700000000,1,007,"Bibb County, AL",2015.0,8633.0,8061.0,572.0,6.6,1007
4,CN0100900000000,1,009,"Blount County, AL",2015.0,24647.0,23313.0,1334.0,5.4,1009

## Unemployment data merge

In [29]:
# 1) df0 ~ df9 combining vertically
unemployment_panel = pd.concat(
    [df0, df1, df2, df3, df4, df5, df6, df7, df8, df9],
    ignore_index=True
)
unemployment_panel

,LAUS Code,State FIPS Code,County FIPS Code,County Name/State Abbreviation,Year,Labor Force,Employed,Unemployed,Unemployment Rate (%),FIPS
0,CN0100100000000,1,001,"Autauga County, AL",2015.0,25783.0,24441.0,1342.0,5.2,1001
1,CN0100300000000,1,003,"Baldwin County, AL",2015.0,88323.0,83424.0,4899.0,5.5,1003
2,CN0100500000000,1,005,"Barbour County, AL",2015.0,8670.0,7899.0,771.0,8.9,1005
3,CN0100700000000,1,007,"Bibb County, AL",2015.0,8633.0,8061.0,572.0,6.6,1007
4,CN0100900000000,1,009,"Blount County, AL",2015.0,24647.0,23313.0,1334.0,5.4,1009
...,...,...,...,...,...,...,...,...,...,...
32200,CN7214500000000,72,145,"Vega Baja Municipio, PR",2024.0,18521.0,17515.0,1006.0,5.4,72145
32201,CN7214700000000,72,147,"Vieques Municipio, PR",2024.0,2881.0,2756.0,125.0,4.3,72147
32202,CN7214900000000,72,149,"Villalba Municipio, PR",2024.0,7273.0,6529.0,744.0,10.2,72149
32203,CN7215100000000,72,151,"Yabucoa Municipio, PR",2024.0,9517.0,8709.0,808.0,8.5,72151
32204,CN7215300000000,72,153,"Yauco Municipio, PR",2024.0,11723.0,10557.0,1166.0,9.9,72153

## Match FIPS (Unemployment) to Crosswalk (CBSA) Level

In [30]:
unemployment_panel.head(3)

,LAUS Code,State FIPS Code,County FIPS Code,County Name/State Abbreviation,Year,Labor Force,Employed,Unemployed,Unemployment Rate (%),FIPS
0,CN0100100000000,1,001,"Autauga County, AL",2015.0,25783.0,24441.0,1342.0,5.2,1001
1,CN0100300000000,1,003,"Baldwin County, AL",2015.0,88323.0,83424.0,4899.0,5.5,1003
2,CN0100500000000,1,005,"Barbour County, AL",2015.0,8670.0,7899.0,771.0,8.9,1005

In [31]:
unemployment_panel.tail(3)

,LAUS Code,State FIPS Code,County FIPS Code,County Name/State Abbreviation,Year,Labor Force,Employed,Unemployed,Unemployment Rate (%),FIPS
32202,CN7214900000000,72,149,"Villalba Municipio, PR",2024.0,7273.0,6529.0,744.0,10.2,72149
32203,CN7215100000000,72,151,"Yabucoa Municipio, PR",2024.0,9517.0,8709.0,808.0,8.5,72151
32204,CN7215300000000,72,153,"Yauco Municipio, PR",2024.0,11723.0,10557.0,1166.0,9.9,72153

In [32]:
# Null
mask_non_numeric = pd.to_numeric(unemployment_panel["Labor Force"], errors="coerce").isna()
unemployment_panel[mask_non_numeric][["Year","Labor Force", "Employed", "Unemployed", "County Name/State Abbreviation"]]

         Year Labor Force Employed Unemployed County Name/State Abbreviation
19243  2020.0        N.A.     N.A.       N.A.         Adjuntas Municipio, PR
19244  2020.0        N.A.     N.A.       N.A.           Aguada Municipio, PR
19245  2020.0        N.A.     N.A.       N.A.        Aguadilla Municipio, PR
19246  2020.0        N.A.     N.A.       N.A.     Aguas Buenas Municipio, PR
19247  2020.0        N.A.     N.A.       N.A.         Aibonito Municipio, PR
...       ...         ...      ...        ...                            ...
19316  2020.0        N.A.     N.A.       N.A.        Vega Baja Municipio, PR
19317  2020.0        N.A.     N.A.       N.A.          Vieques Municipio, PR
19318  2020.0        N.A.     N.A.       N.A.         Villalba Municipio, PR
19319  2020.0        N.A.     N.A.       N.A.          Yabucoa Municipio, PR
19320  2020.0        N.A.     N.A.       N.A.            Yauco Municipio, PR

[78 rows x 5 columns]

In [33]:
# Drop rows where Labor Force is non-numeric
unemployment_panel = unemployment_panel[~mask_non_numeric].reset_index(drop=True)

In [34]:
unemployment_panel

,LAUS Code,State FIPS Code,County FIPS Code,County Name/State Abbreviation,Year,Labor Force,Employed,Unemployed,Unemployment Rate (%),FIPS
0,CN0100100000000,1,001,"Autauga County, AL",2015.0,25783.0,24441.0,1342.0,5.2,1001
1,CN0100300000000,1,003,"Baldwin County, AL",2015.0,88323.0,83424.0,4899.0,5.5,1003
2,CN0100500000000,1,005,"Barbour County, AL",2015.0,8670.0,7899.0,771.0,8.9,1005
3,CN0100700000000,1,007,"Bibb County, AL",2015.0,8633.0,8061.0,572.0,6.6,1007
4,CN0100900000000,1,009,"Blount County, AL",2015.0,24647.0,23313.0,1334.0,5.4,1009
...,...,...,...,...,...,...,...,...,...,...
32122,CN7214500000000,72,145,"Vega Baja Municipio, PR",2024.0,18521.0,17515.0,1006.0,5.4,72145
32123,CN7214700000000,72,147,"Vieques Municipio, PR",2024.0,2881.0,2756.0,125.0,4.3,72147
32124,CN7214900000000,72,149,"Villalba Municipio, PR",2024.0,7273.0,6529.0,744.0,10.2,72149
32125,CN7215100000000,72,151,"Yabucoa Municipio, PR",2024.0,9517.0,8709.0,808.0,8.5,72151
32126,CN7215300000000,72,153,"Yauco Municipio, PR",2024.0,11723.0,10557.0,1166.0,9.9,72153

## Match to MSA Level

In [35]:
version = 2023
crosswalk_data_path = f'../../data/interim/data2_county_level_{version}.csv'

crosswalk_data = pd.read_csv(crosswalk_data_path)

crosswalk_data.head()

,Crosswalk2023_CBSA Code,Crosswalk2023_Metropolitan Division Code,Crosswalk2023_CSA Code,Crosswalk2023_CBSA Title,Crosswalk2023_Metropolitan/Micropolitan Statistical Area,Crosswalk2023_Metropolitan Division Title,Crosswalk2023_CSA Title,Crosswalk2023_County/County Equivalent,Crosswalk2023_State Name,Crosswalk2023_FIPS State Code,Crosswalk2023_FIPS County Code,Crosswalk2023_Central/Outlying County,Crosswalk2023_FIPS_Key
0,10100,NaN,NaN,"Aberdeen, SD",Micropolitan Statistical Area,NaN,NaN,Brown County,South Dakota,46,13,Central,46013
1,10100,NaN,NaN,"Aberdeen, SD",Micropolitan Statistical Area,NaN,NaN,Edmunds County,South Dakota,46,45,Outlying,46045
2,10140,NaN,NaN,"Aberdeen, WA",Micropolitan Statistical Area,NaN,NaN,Grays Harbor County,Washington,53,27,Central,53027
3,10180,NaN,101.0,"Abilene, TX",Metropolitan Statistical Area,NaN,"Abilene-Sweetwater, TX",Callahan County,Texas,48,59,Outlying,48059
4,10180,NaN,101.0,"Abilene, TX",Metropolitan Statistical Area,NaN,"Abilene-Sweetwater, TX",Jones County,Texas,48,253,Outlying,48253

In [36]:
unemployment_panel

,LAUS Code,State FIPS Code,County FIPS Code,County Name/State Abbreviation,Year,Labor Force,Employed,Unemployed,Unemployment Rate (%),FIPS
0,CN0100100000000,1,001,"Autauga County, AL",2015.0,25783.0,24441.0,1342.0,5.2,1001
1,CN0100300000000,1,003,"Baldwin County, AL",2015.0,88323.0,83424.0,4899.0,5.5,1003
2,CN0100500000000,1,005,"Barbour County, AL",2015.0,8670.0,7899.0,771.0,8.9,1005
3,CN0100700000000,1,007,"Bibb County, AL",2015.0,8633.0,8061.0,572.0,6.6,1007
4,CN0100900000000,1,009,"Blount County, AL",2015.0,24647.0,23313.0,1334.0,5.4,1009
...,...,...,...,...,...,...,...,...,...,...
32122,CN7214500000000,72,145,"Vega Baja Municipio, PR",2024.0,18521.0,17515.0,1006.0,5.4,72145
32123,CN7214700000000,72,147,"Vieques Municipio, PR",2024.0,2881.0,2756.0,125.0,4.3,72147
32124,CN7214900000000,72,149,"Villalba Municipio, PR",2024.0,7273.0,6529.0,744.0,10.2,72149
32125,CN7215100000000,72,151,"Yabucoa Municipio, PR",2024.0,9517.0,8709.0,808.0,8.5,72151
32126,CN7215300000000,72,153,"Yauco Municipio, PR",2024.0,11723.0,10557.0,1166.0,9.9,72153

In [37]:
# Ensure both keys are strings
unemployment_panel["FIPS"] = unemployment_panel["FIPS"].astype(str)
crosswalk_data["Crosswalk2023_FIPS_Key"] = crosswalk_data["Crosswalk2023_FIPS_Key"].astype(str)

unemployment_with_msa = unemployment_panel.merge(
    crosswalk_data,
    how="left",
    left_on="FIPS",
    right_on="Crosswalk2023_FIPS_Key"
)

In [38]:
unemployment_with_msa.columns

Index(['LAUS Code', 'State FIPS Code', 'County FIPS Code',
       'County Name/State Abbreviation', 'Year', 'Labor Force', 'Employed',
       'Unemployed', 'Unemployment Rate (%)', 'FIPS',
       'Crosswalk2023_CBSA Code', 'Crosswalk2023_Metropolitan Division Code',
       'Crosswalk2023_CSA Code', 'Crosswalk2023_CBSA Title',
       'Crosswalk2023_Metropolitan/Micropolitan Statistical Area',
       'Crosswalk2023_Metropolitan Division Title', 'Crosswalk2023_CSA Title',
       'Crosswalk2023_County/County Equivalent', 'Crosswalk2023_State Name',
       'Crosswalk2023_FIPS State Code', 'Crosswalk2023_FIPS County Code',
       'Crosswalk2023_Central/Outlying County', 'Crosswalk2023_FIPS_Key'],
      dtype='object')

In [39]:
unemployment_with_msa

,LAUS Code,State FIPS Code,County FIPS Code,County Name/State Abbreviation,Year,Labor Force,Employed,Unemployed,Unemployment Rate (%),FIPS,...,Crosswalk2023_CBSA Title,Crosswalk2023_Metropolitan/Micropolitan Statistical Area,Crosswalk2023_Metropolitan Division Title,Crosswalk2023_CSA Title,Crosswalk2023_County/County Equivalent,Crosswalk2023_State Name,Crosswalk2023_FIPS State Code,Crosswalk2023_FIPS County Code,Crosswalk2023_Central/Outlying County,Crosswalk2023_FIPS_Key
0,CN0100100000000,1,001,"Autauga County, AL",2015.0,25783.0,24441.0,1342.0,5.2,1001,...,"Montgomery, AL",Metropolitan Statistical Area,NaN,"Montgomery-Selma, AL",Autauga County,Alabama,1.0,1.0,Central,1001
1,CN0100300000000,1,003,"Baldwin County, AL",2015.0,88323.0,83424.0,4899.0,5.5,1003,...,"Daphne-Fairhope-Foley, AL",Metropolitan Statistical Area,NaN,"Mobile-Daphne-Fairhope, AL",Baldwin County,Alabama,1.0,3.0,Central,1003
2,CN0100500000000,1,005,"Barbour County, AL",2015.0,8670.0,7899.0,771.0,8.9,1005,...,"Eufaula, AL-GA",Micropolitan Statistical Area,NaN,NaN,Barbour County,Alabama,1.0,5.0,Central,1005
3,CN0100700000000,1,007,"Bibb County, AL",2015.0,8633.0,8061.0,572.0,6.6,1007,...,"Birmingham, AL",Metropolitan Statistical Area,NaN,"Birmingham-Cullman-Talladega, AL",Bibb County,Alabama,1.0,7.0,Outlying,1007
4,CN0100900000000,1,009,"Blount County, AL",2015.0,24647.0,23313.0,1334.0,5.4,1009,...,"Birmingham, AL",Metropolitan Statistical Area,NaN,"Birmingham-Cullman-Talladega, AL",Blount County,Alabama,1.0,9.0,Outlying,1009
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32122,CN7214500000000,72,145,"Vega Baja Municipio, PR",2024.0,18521.0,17515.0,1006.0,5.4,72145,...,"San Juan-Bayamón-Caguas, PR",Metropolitan Statistical Area,NaN,"San Juan-Bayamón, PR",Vega Baja Municipio,Puerto Rico,72.0,145.0,Central,72145
32123,CN7214700000000,72,147,"Vieques Municipio, PR",2024.0,2881.0,2756.0,125.0,4.3,72147,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32124,CN7214900000000,72,149,"Villalba Municipio, PR",2024.0,7273.0,6529.0,744.0,10.2,72149,...,"Ponce, PR",Metropolitan Statistical Area,NaN,"Ponce-Coamo, PR",Villalba Municipio,Puerto Rico,72.0,149.0,Outlying,72149
32125,CN7215100000000,72,151,"Yabucoa Municipio, PR",2024.0,9517.0,8709.0,808.0,8.5,72151,...,"San Juan-Bayamón-Caguas, PR",Metropolitan Statistical Area,NaN,"San Juan-Bayamón, PR",Yabucoa Municipio,Puerto Rico,72.0,151.0,Central,72151
32126,CN7215300000000,72,153,"Yauco Municipio, PR",2024.0,11723.0,10557.0,1166.0,9.9,72153,...,"Ponce, PR",Metropolitan Statistical Area,NaN,"Ponce-Coamo, PR",Yauco Municipio,Puerto Rico,72.0,153.0,Outlying,72153

In [40]:
# Group by Year × MSA
unemployment_summary = (
    unemployment_with_msa
    .groupby(["Year", "Crosswalk2023_CBSA Code"], as_index=False)
    .agg({
        "Labor Force": "sum",
        "Employed": "sum",
        "Unemployed": "sum"
    })
)

In [41]:
unemployment_summary

        Year  Crosswalk2023_CBSA Code Labor Force  Employed Unemployed
0     2015.0                  10100.0     23205.0   22603.0      602.0
1     2015.0                  10140.0     26989.0   24520.0     2469.0
2     2015.0                  10180.0     74433.0   71545.0     2888.0
3     2015.0                  10220.0     18176.0   17470.0      706.0
4     2015.0                  10300.0     47708.0   45321.0     2387.0
...      ...                      ...         ...       ...        ...
9335  2024.0                  49660.0    193202.0  183448.0     9754.0
9336  2024.0                  49700.0     81301.0   74953.0     6348.0
9337  2024.0                  49740.0     98720.0   86670.0    12050.0
9338  2024.0                  49780.0     41460.0   39541.0     1919.0
9339  2024.0                  49820.0      4481.0    4170.0      311.0

[9340 rows x 5 columns]

In [42]:
unemployment_summary.isnull().sum()

Year                       0
Crosswalk2023_CBSA Code    0
Labor Force                0
Employed                   0
Unemployed                 0
dtype: int64

In [43]:
# Pivot: wide format by Year
unemp_final = unemployment_summary.pivot_table(
    index="Crosswalk2023_CBSA Code",
    columns="Year",
    values=["Labor Force", "Employed", "Unemployed"],
    aggfunc="sum"
)

# Flatten columns with desired order: Labor Force → Employed → Unemployed
ordered_vars = ["Labor Force", "Employed", "Unemployed"]
ordered_cols = []

for var in ordered_vars:
    years = sorted(unemp_final[var].columns)  # ensure years are sorted
    ordered_cols.extend([f"{var.replace(' ', '_')}_{int(y)}" for y in years])

# Rename columns and reorder
unemp_final.columns = [f"{col[0].replace(' ', '_')}_{int(col[1])}" for col in unemp_final.columns]
unemp_final = unemp_final[ordered_cols].reset_index()

In [44]:
unemp_final.shape

(935, 31)

In [45]:
unemp_final.sample()

,Crosswalk2023_CBSA Code,Labor_Force_2015,Labor_Force_2016,Labor_Force_2017,Labor_Force_2018,Labor_Force_2019,Labor_Force_2020,Labor_Force_2021,Labor_Force_2022,Labor_Force_2023,...,Unemployed_2015,Unemployed_2016,Unemployed_2017,Unemployed_2018,Unemployed_2019,Unemployed_2020,Unemployed_2021,Unemployed_2022,Unemployed_2023,Unemployed_2024
593,34940.0,163519.0,157627.0,160373.0,164191.0,166426.0,163601,167551.0,174888.0,181296.0,...,8681.0,7868.0,7083.0,6092.0,5580.0,12537,6746.0,5372.0,5504.0,6235.0

## Sanity Check

In [46]:
check_MSA = 26860

In [47]:
unemp_final[unemp_final['Crosswalk2023_CBSA Code'] == check_MSA]

,Crosswalk2023_CBSA Code,Labor_Force_2015,Labor_Force_2016,Labor_Force_2017,Labor_Force_2018,Labor_Force_2019,Labor_Force_2020,Labor_Force_2021,Labor_Force_2022,Labor_Force_2023,...,Unemployed_2015,Unemployed_2016,Unemployed_2017,Unemployed_2018,Unemployed_2019,Unemployed_2020,Unemployed_2021,Unemployed_2022,Unemployed_2023,Unemployed_2024
397,26860.0,42126.0,39184.0,38313.0,37904.0,38206.0,37037,36087.0,35393.0,35674.0,...,2720.0,2887.0,2337.0,1983.0,1954.0,3366,2444.0,1834.0,1594.0,1556.0

In [48]:
crosswalk_data[crosswalk_data['Crosswalk2023_CBSA Code'] == check_MSA][['Crosswalk2023_CBSA Code','Crosswalk2023_FIPS_Key']]

     Crosswalk2023_CBSA Code Crosswalk2023_FIPS_Key
796                    26860                  42063

In [49]:
fips_list = [i for i in crosswalk_data[crosswalk_data['Crosswalk2023_CBSA Code'] == check_MSA][['Crosswalk2023_CBSA Code','Crosswalk2023_FIPS_Key']]['Crosswalk2023_FIPS_Key'].to_list()]
fips_list

['42063']

In [50]:
unemployment_panel[unemployment_panel['FIPS'].isin(fips_list)]

,LAUS Code,State FIPS Code,County FIPS Code,County Name/State Abbreviation,Year,Labor Force,Employed,Unemployed,Unemployment Rate (%),FIPS
2275,CN4206300000000,42,063,"Indiana County, PA",2015.0,42126.0,39406.0,2720.0,6.5,42063
5495,CN4206300000000,42,063,"Indiana County, PA",2016.0,39184.0,36297.0,2887.0,7.4,42063
8715,CN4206300000000,42,063,"Indiana County, PA",2017.0,38313.0,35976.0,2337.0,6.1,42063
11935,CN4206300000000,42,063,"Indiana County, PA",2018.0,37904.0,35921.0,1983.0,5.2,42063
15155,CN4206300000000,42,063,"Indiana County, PA",2019.0,38206.0,36252.0,1954.0,5.1,42063
18376,CN4206300000000,42,063,"Indiana County, PA",2020.0,37037,33671,3366,9.1,42063
21519,CN4206300000000,42,063,"Indiana County, PA",2021.0,36087.0,33643.0,2444.0,6.8,42063
24740,CN4206300000000,42,063,"Indiana County, PA",2022.0,35393.0,33559.0,1834.0,5.2,42063
27961,CN4206300000000,42,063,"Indiana County, PA",2023.0,35674.0,34080.0,1594.0,4.5,42063
31182,CN4206300000000,42,063,"Indiana County, PA",2024.0,35583.0,34027.0,1556.0,4.4,42063

In [51]:
unemp_final[(unemp_final['Crosswalk2023_CBSA Code'] == check_MSA)]

,Crosswalk2023_CBSA Code,Labor_Force_2015,Labor_Force_2016,Labor_Force_2017,Labor_Force_2018,Labor_Force_2019,Labor_Force_2020,Labor_Force_2021,Labor_Force_2022,Labor_Force_2023,...,Unemployed_2015,Unemployed_2016,Unemployed_2017,Unemployed_2018,Unemployed_2019,Unemployed_2020,Unemployed_2021,Unemployed_2022,Unemployed_2023,Unemployed_2024
397,26860.0,42126.0,39184.0,38313.0,37904.0,38206.0,37037,36087.0,35393.0,35674.0,...,2720.0,2887.0,2337.0,1983.0,1954.0,3366,2444.0,1834.0,1594.0,1556.0

In [52]:
unemp_final.to_csv(f'../../data/interim/data6_unemployment_MSA_level.csv', index=False)